# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Generated output
build/
coverage/
.vercel/
generated/

# Credentials/secrets
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
