.hackerman {
  background-color: rgba(0, 0, 0, 0.85);
  color: #00cc00;
  font-family: 'Courier New', Courier, monospace;
  border: 0;
  font-weight: bold;
}

.wrapper {
  bottom: 30px;
  margin-left: 310px;
  position: fixed;
}

.caret {
  height: 25px;
  width: 10px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 1px;
}
.caret:focus {
  outline: none;
}

.prompt {
  height: 25px;
  width: 500px;
  padding-left: 1px;
  padding-right: 1px;
}
.prompt:focus {
  outline: none;
}
.prompt::-ms-clear {
  width: 0px;
  height: 0px;
}

.outputWindow {
  width: 535px;
  padding: 2px;
  border: 0;
  resize: none;
  position: absolute;
  bottom: 30px;
  font-size: 12px;
  height: 175px;
}
.outputWindow:focus {
  outline: none;
}

.outputWindowBtn {
  border: 0;
  width: 21px;
  height: 27px;
  cursor: pointer;
}
.outputWindowBtn:focus {
  outline: none;
}

@media screen and (max-width: 969px) {
  .wrapper {
    display: none;
  }
}

@media print {
  .wrapper {
    display: none;
  }
}
