.removeBullets {
  list-style-type: none;
}

@media screen and (min-width: 912px) {
  ul {
    overflow: hidden;
  }
  ul.italicSpacer {
    padding-right: 5px;
  }
  ul.moreInfoWrapper {
    padding-top: 10px;
  }

  .leftColumn {
    width: 70%;
    float: left;
  }

  .subLeftColumn {
    list-style-type: none;
  }

  .rightColumn {
    float: right;
    width: 30%;
    text-align: right;
    list-style-type: none;
  }

  .company,
  .degree,
  .location {
    font-weight: bold;
  }

  .school,
  .jobTitle,
  .tenure {
    font-style: italic;
  }

  .sameCompanySpacing {
    margin-top: 20px;
  }
}

@media screen and (max-width: 911px) {
  .location,
  .school,
  .jobTitle,
  .tenure {
    list-style-type: none;
  }

  .company,
  .degree,
  .location {
    font-weight: bold;
  }

  .school,
  .jobTitle,
  .tenure {
    font-style: italic;
  }

  .jobTitle.sameCompanySpacing {
    margin-top: 15px;
  }
}
