body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global lightGallery overrides */
.lg-container {
  font-family: 'Open-Sans', sans-serif !important;
}

.lg-thumb-item.active {
  border-color: var(--main-theme-color) !important;
}
.lg-thumb-item:hover {
  border-color: var(--faded-text-color) !important;
}
