#root {
  font-family: 'Open Sans', sans-serif;
  flex: 1;
  display: -webkit-flex;
  display: flex;
}

h2.top {
  margin-top: 0px;
}

.pre {
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}

.fancytxt {
  color: var(--font-color);
  text-decoration: underline;
  cursor: pointer;
}

.fancytxt:hover {
  color: var(--main-theme-color);
  cursor: pointer;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.no-decoration {
  text-decoration: none !important;
}

.no-outline {
  outline: none !important;
}

.li-filled {
  list-style-type: disc;
}

.timestamp,
.subtle {
  font-size: 0.75em;
  color: var(--faded-text-color);
}

.link-image {
  margin-bottom: 10px;
}

.link-image > g {
  fill: var(--icon-color);
}

.link-image.small {
  height: 16px;
  width: 16px;
  margin-bottom: 0;
}

.link-image.large {
  height: 24px;
  width: 20px;
  margin-bottom: 0;
}

.link-image.xlarge {
  height: 80px;
  width: 80px;
  margin-bottom: 0;
}

.link-image.play-overlay {
  position: absolute;
  pointer-events: none;
}

.link-image.theme {
  height: 100%;
}

.link-image.theme.on {
  margin-left: 8px;
}

.link-image.theme.off {
  margin-left: 6px;
}

.jump-anchor {
  cursor: pointer;
}

.jump-anchor:hover {
  fill: var(--main-theme-color);
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.inline {
  display: inline;
}

.highlighted {
  display: inline;
  background: var(--highlighted-text-bg);
  padding: 3px;
}

.prevent-scroll {
  overflow: hidden;
}

/******************** COMMON NAV *******************/
.nav-link {
  color: var(--font-color);
  text-decoration: none;
}

.nav-selected {
  color: var(--main-theme-color);
}

/********************* CONTENT *********************/
.section-header {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header-size {
  height: 90px;
  line-height: 90px;
  font-size: 40px;
}

.section-header-loading {
  height: 100%;
  width: 30%;
  margin-bottom: 15px;
}

.content {
  -webkit-flex: 1;
  flex: 1;
  -webkit-margin-bottom-collapse: separate; /* Fixes margin-bottom for non-chrome browsers */
  font-size: 16px;
}

.content-text {
  padding: 10px 15px;
  max-width: 800px;
  margin: 0 auto;
}

.loading {
  margin: 0 auto;
}

.dt-mod {
  margin-top: 15px;
}

.dt-links {
  margin-bottom: 5px;
}

.first-header {
  margin-top: 0px;
}

.dropdown-mod {
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 0;
}
.dropdown-mod:focus {
  outline: none;
  border-color: var(--main-theme-color);
}

input.inputbox-mod[type='text'],
input.inputbox-mod[type='password'],
input.inputbox-mod[type='url'],
input.inputbox-mod[type='number'],
input.inputbox-mod[type='date'],
textarea.textarea-mod,
select.select-scroll-mod,
select.select-mod {
  height: 25px;
  width: calc(
    100% - 5px - 5px - 2px
  ); /* 100% - padding-left - padding-right - (2 * border size) */
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  border: 1px solid #000000;
}
input.inputbox-mod:focus[type='text'],
input.inputbox-mod:focus[type='password'],
input.inputbox-mod:focus[type='url'],
input.inputbox-mod:focus[type='number'],
textarea.textarea-mod:focus,
select.select-scroll-mod:focus {
  outline: none;
  border-color: var(--main-theme-color);
}

input.inputbox-mod[type='checkbox'] {
  display: block;
}

textarea.textarea-mod {
  resize: vertical;
  height: 100px;
}

select.select-scroll-mod {
  width: 100%;
  height: 192px;
  padding: 0px;
  display: block;
}

select.select-mod {
  width: 100%;
  height: 27px;
  display: block;
  background-color: white;
}

/* This button was generated using CSSButtonGenerator.com */
.submit-button {
  background-color: #ffffff;
  color: #000000;
  text-indent: 0;
  border: 1px solid #000000;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  line-height: 30px;
  width: 100px;
  text-decoration: none;
  text-align: center;
}
.submit-button:hover {
  background-color: var(--main-theme-color);
  color: #ffffff;
  cursor: pointer;
}
.submit-button:active {
  position: relative;
  top: 1px;
}
.submit-button:focus {
  outline: 0;
}
.delete-button:hover,
.reset-button:hover {
  background-color: var(--warning-color);
}

@media screen and (max-width: 969px) {
  .content {
    margin: 60px 0px 90px 0px;
  }

  .content-text {
    padding: 10px;
  }

  .section-header-size {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
  }
}

@media print {
  nav,
  footer {
    display: none;
  }

  .content {
    font-size: 12px;
  }

  .content-text > hr {
    /* Use this when using page-break-after's */
    display: none;
  }
}
