:root {
  --main-theme-color: #5bb75b;
  --warning-color: #d9534f;

  --font-color: #444444;
  --bg-color: #f7f7f7;
  --border-color: rgba(0, 0, 0, 0.1);
  --hamburgers-color: #000000;
  --icon-color: #000000;
  --modal-bg-color: #ffffff;
  --modal-button-text-color: #ffffff;
  --highlighted-text-bg: #eaeaea;
  --faded-text-color: #909090;
  --skeleton-color: #e9e9e9;
  --skelton-highlight-color: #efefef;
  --code-bg-color: #eeeeee;
}

[data-theme='dark'] {
  color-scheme: dark;

  --font-color: #e9e9e9;
  --bg-color: #202020;
  --border-color: rgba(255, 255, 255, 0.3);
  --hamburgers-color: #e9e9e9;
  --icon-color: #e9e9e9;
  --modal-bg-color: #303030;
  --modal-button-text-color: #ffffff;
  --highlighted-text-bg: #444444;
  --faded-text-color: #a9a9a9;
  --skeleton-color: #363636;
  --skelton-highlight-color: #444444;
  --code-bg-color: #2b2b2b;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

img {
  border: 0; /* Remove IE img link border */
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

input,
textarea {
  border-radius: 0;
  -webkit-border-radius: 0;
}

code {
  background-color: var(--code-bg-color);
  border-radius: 3px;
  font-family: "Courier New", monospace;
  padding: 0 3px;
}

/* Global hamburgers overrides */
.hamburger:hover {
  opacity: 1 !important;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: var(--hamburgers-color) !important;
}

/* Global lightGallery overrides */
.lg-container {
  font-family: 'Open-Sans', sans-serif !important;
}

.lg-thumb-item {
  border-color: #707070 !important;
}
.lg-thumb-item:hover {
  border-color: #FFFFFF !important;
}
.lg-thumb-item.active {
  border-color: var(--main-theme-color) !important;
}
.lg-thumb-item.active:hover {
  border-color: var(--main-theme-color) !important;
}
